 <footer
    class="page-footer footer footer-static footer-dark gradient-45deg-indigo-purple gradient-shadow navbar-border navbar-shadow">
    <div class="footer-copyright">
      <div class="container"><span>&copy; 2022 <a href="#"
            target="_blank">AVS GLOBAL SUPPLY</a> All rights reserved.</span><span class="right hide-on-small-only">Design and
          365 Teknoloji <a href="#/">AVS GLOBAL</a></span></div>
    </div>
  </footer>