@{
    ViewData["Title"] = "Login Page";
    Layout = null;
}

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="ThemeSelect">
    <title>User Login | Materialize - Material Design Admin Template</title>
    <link rel="apple-touch-icon" href="~/app-assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/images/favicon/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/vertical-modern-menu-template/materialize.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/vertical-modern-menu-template/style.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/login.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/custom/custom.css">
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="~/js/Global/Global.js"></script>
    <script src="https://unpkg.com/vue@3.0.0"></script>
  </head>

  <body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu preload-transitions 1-column login-bg   blank-page blank-page" data-open="click" data-menu="vertical-modern-menu" data-col="1-column">
    <div class="row">
      <div class="col s12">
        <div class="container"><div id="login-page" class="row">
  <div id="app" class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8" data-v-app>
   
<form class="login-form">
  <div class="row">
    <div class="input-field col s12">
      <h5 class="ml-4">{{title}}</h5>
  </div>
  <div class="row margin">
    <div class="input-field col s12">
      <i class="material-icons prefix pt-2">person_outline</i>
      <input id="username" type="text" v-model="username">
      <label for="username" class="center-align">Username</label>
    </div>
  </div>
  <div class="row margin">
    <div class="input-field col s12">
      <i class="material-icons prefix pt-2">lock_outline</i>
      <input id="password" type="password" v-model="password">
      <label for="password">Password</label>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12 ml-2 mt-1">
      <p>
        <label>
          <input id="CheckRemember" type="checkbox" />
          <span>Remember Me</span>
        </label>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <a id="btnLogin" v-on:click="LoginControl" class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12">Login</a>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6 m6 l6">
      <p class="margin medium-small"><a v-bind:href="RegisterPage">Register Now!</a></p>
    </div>
    <div class="input-field col s6 m6 l6">
      <p class="margin right-align medium-small"><a v-bind:href="ForgotPassword">Forgot password ?</a></p>
    </div>
  </div>
</form>

  </div>
</div>
        </div>
        <div class="content-overlay"></div>
      </div>
    </div>
    <script src="~/app-assets/js/vendors.min.js"></script>
    <script src="~/app-assets/js/plugins.js"></script>
    <script src="~/app-assets/js/search.js"></script>
    <script src="~/app-assets/js/custom/custom-script.js"></script>
    <script src="~/js/Vue/LoginPageVue.js"></script>
  </body>
</html>


