

@{
  ViewBag.Title = "Demonstrating JWTs in ASP.NET Core MVC 5";
}

<div id="main">
  <div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
    @Html.Partial("Partial/TEMPLATE/Top")
    <div class="col s12">
      <div class="container">
        <div class="section">
          <div class="card">
            <div id="root" class="card-content partialview">
              
            </div>
          </div>
        </div>
        @Html.Partial("Partial/TEMPLATE/RightMenu")
        @Html.Partial("Partial/TEMPLATE/BottomMenu")
      </div>
      <div class="content-overlay"></div>
    </div>
  </div>
</div>

@foreach (var item in this.ViewData)
    {
      if(item.Key!="Title")
      {
        @Html.Raw(item.Value);
      }      
    } 